
<!-- start: Content -->
<div id="content" class="span10">
    <div class="row-fluid">

        <div class="box span12">
            <div class="box-header">
                <h2><i class="icon-edit"></i>Mantenimiento de Usuario</h2>
                <div class="box-icon">
                    <!--<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>-->
                </div>
            </div>
			 <div class="box-content">
                  <a href="#" class="btn btn-success" href="#" role="button">Nuevo Usuario </a>
            </div>
            <div class="box-content">
                <!--Listado del Usuario-->
						<table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								  <th>Nombre Usuario</th>
								  <th>Rol</th>
								  <th>Estatus</th>
								  <th>Acciones</th>
							  </tr>
						  </thead> 
													
					
					  </table>   
            </div> 

        </div>  
    </div>   

</div>  


 <script src="js/caisa/formDatosUsuario.js"></script>

	  
<!-- end: Content -->