 <!--DOCTYPE html>
<html lang="en">
<head></head> 
<body>-->
<div class="row-fluid">
<div id="sidebar-left" class="span2">
	<div class="nav-collapse sidebar-nav"> 
		<ul class="nav nav-tabs nav-stacked main-menu">
		   <div id="heading"></div>
			<!--<li>
				<a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet">Inicio</span><span class="label">3</span></a>
					<ul>
						<li><a class="submenu" href="form_mantenimiento_general.html"><i class="icon-folder-close-alt"></i><span class="hidden-tablet">Mantenimiento</span></a></li>
						<li><a class="submenu" href="form_usuarioList.html"><i class="icon-folder-close-alt"></i><span class="hidden-tablet">Usuarios</span></a></li>
						<li><a class="submenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet">Salir</span></a></li>
					</ul>	
			</li>	
			<li>
				<a class="dropmenu" href="#"><i class="icon-group"></i><span class="hidden-tablet">Empleado</span> <span class="label">1</span></a>
					<ul>
						<li><a class="submenu" href="form_empleadoList.html"><i class="icon-hdd"></i><span class="hidden-tablet">Datos Generales</span><span class="label"></span></a></li>
					</ul>	
			</li>
			<li>
				<a class="dropmenu" href="#"><i class="icon-money"></i><span class="hidden-tablet">Calculos/Planilla</span> <span class="label">1</span></a>
				<ul>
					<li><a class="submenu" href="form_empleado_calculo_planilla_regular.html"><i class="icon-hdd"></i><span class="hidden-tablet">Planilla Regular</span><span class="label"></span></a></li>
					<li><a class="submenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet">Planilla Vacaciones</span> <span class="label"></span></a></li>
					<li><a class="submenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet">Planilla Especial</span> <span class="label"></span></a></li>
					<li><a class="submenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet">Planilla XII mes</span> <span class="label"></span></a></li>
					<li><a class="submenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet">Planilla Liquidación</span> <span class="label"></span></a></li> 
				</ul>	
			</li>-->	
		</ul>
		
	</div>
</div>
</div>
    <script src="../js/jquery-1.9.1.min.js"></script>
	<script src="../js/jquery-ui-1.10.3.custom.min.js"></script>	
	<script src="../js/bootstrap.min.js"></script>	
    <script src="../js/jquery.placeholder.min.js"></script>
    <script src="../js/core.min.js"></script>
    <script src="../js/caisa/menu.js"></script>		
 	
   
<!--</body>
</html>-->